@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
* {
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: darkgray;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  height: 50px;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.board {
  padding: 10px;
  width: 300px;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "panel panel panel panel"
    "clear clear percentage divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three plus"
    "zero comma equal equal";
}

#panel {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  grid-area: panel;
  height: 80px;
  font-size: 20px;

  display: flex;
  justify-content: end;
  align-items: center;
}

.clear {
  grid-area: clear;
}
.percentage {
  grid-area: percentage;
}
.divide {
  grid-area: divide;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.multiply {
  grid-area: multiply;
}

.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.subtract {
  grid-area: subtract;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.plus {
  grid-area: plus;
}

.zero {
  grid-area: zero;
}
.comma {
  grid-area: comma;
}
.equal {
  grid-area: equal;
}

.operators {
  background-color: orange;
}
